#orderList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

#bar{
  display: grid;
  grid-template-columns: 15% 35% 35% ;
  row-gap: 20px;  
}

#back {
    background-image:url("./images/chem.jpeg");
    background-size: 1400px ;
}

#backCard {
  background-image:url("./images/walter.jpeg");
  background-size: 250px 350px;
  color:black;
}

#white{
    color:white;
    font-size:18px;
}

#flipCard{
  width: 250px;
  height: 350px;
}

#blue{
  background-color:rgba(0, 0, 255, 0.507)
}

#detailsCard{
  display: grid;
  grid-template-columns: 15% 30% 45% 10%;
  row-gap: 20px; 
}
